.keyboard {
    width: min(600px, 95vw);
    --marginButtons: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyboard-row{
    display: flex;
    max-width: 100%;
}

.keyboard-button {
    background: rgba(128, 128, 128, 0.685);
    text-transform: uppercase;
    width: min(3em, calc(90vw / 10 - var(--marginButtons)));
    height: 4.5em;
}
.keyboard-button.extended{
    width: min(6em, calc(90vw / 5));
}
.keyboard-button:not(:last-child)
{
    margin-right: var(--marginButtons);
}

.keyboard svg g, .keyboard svg path {
    fill:var(--color);
}