.keyboard {
    width: min(600px, 95vw);
    --marginButtons: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyboard-row{
    display: flex;
    max-width: 100%;
}

.keyboard-button {
    background: rgba(128, 128, 128, 0.685);
    text-transform: uppercase;
    width: min(3em, calc(90vw / 10 - var(--marginButtons)));
    height: 4.5em;
    border-radius: 4px;
    font-weight: bold;
    border: none;
}
.keyboard-button.extended{
    width: min(calc(6em + var(--marginButtons)), calc(90vw / 5 - var(--marginButtons)));
}
.keyboard-button.incorrect{
    opacity: .5;
}
.keyboard-button:not(:last-child)
{
    margin-right: var(--marginButtons);
    margin-bottom:  var(--marginButtons);
}

.keyboard svg g, .keyboard svg path {
    fill:var(--color);
}