.swal2-popup{
    background-color: var(--bg);
}
body .swal2-popup .swal2-html-container
{
    overflow: unset;
}
.stats-container{
    min-height: 100% ;
    width: 90% ;
    border-left: 1px solid var(--color);
    height: max-content;
    margin-left: 1em;
}

.stats-row {
    background-color: var(--correct);
    position: relative;
    height: 2em;
    min-width: 2px;
}
.stats-row:not(:last-child)
{
    margin-bottom: 4px;
}
.stat-key, .stat-value{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.stat-key {
    left: -1em;
}

.stat-value {
    right: -1.5em;
}
