:root{
  --color: beige;
  --bg: #262625;
  --almost: rgb(213, 140, 3);
  --correct: rgb(35, 192, 3);
  --margin: 5px;
}
*{
  box-sizing: border-box;
  color: var(--color);
}
button, a{
  cursor: pointer;
}
html, body, #root, .App {
  padding: 0;
  margin:0;
  min-height: 100vh;
  min-width: 100vw;
  width: max-content;
}
#root{
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}

.grid{
  /* max-width: min(90vw, 600px); */
  width: fit-content;
  /* border: 1px solid red; */
}
.grid > .row{
  /* border: 1px  solid green; */
  display: flex;
  /* max-width: 80vw; */
}
.grid input
{
  margin-right: var(--margin);
  margin-bottom: var(--margin);
  /* flex-shrink: 1; */
  /* width: 3em; */
  /* height: 3em; */
  width: min(3em, calc(90vw / var(--wordlength) - var(--margin)));
  height: min(3em, calc(90vw / var(--wordlength) - var(--margin)));
  border: 1px  solid var(--color);
  background: transparent;
  padding: 5px;
  color:var(--color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  pointer-events: none;
}
.grid input.typed{
  /* opacity: .8; */
}
.grid input.almost{
  background: var(--almost);
}
.grid input.correct{
  background: var(--correct);
}
.restart{
  border: none;
  background: transparent;
}
.restart path{
  stroke: var(--color);
}